@page
@model RazorPages.Pages.Sales.EditModel

<h4>Sales</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Sales.Id" />
            <div class="form-group">
                <label asp-for="Sales.ProductName" class="control-label"></label>
                <input asp-for="Sales.ProductName" class="form-control" />
                <span asp-validation-for="Sales.ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sales.Date" class="control-label"></label>
                <input asp-for="Sales.Date" class="form-control" />
                <span asp-validation-for="Sales.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
